h1 {
  font-family: 'Tangerine', serif;
  font-size: 79px;
  color: #363537;
  text-align: center;
}

.intro {
  font-family: 'Tangerine', serif;
  color: #363537;
  font-size: 69px;
  font-weight: lighter;
  text-align: center;
  padding-top: 20px;
}

.welcome {
  background-color: #788aa3;
  padding-top: 25px;
  padding-bottom: 50px;
}

.midasTouch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}

.greetings {
  padding: 30px;
}

.colored-section {
  background-color: #70818f;
}

/*navbar*/
.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-itm {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}

/* aboutme section*/
.Aboutme {
  background-color: #fff;
  padding: 0 30px;
  margin-top: 40px;
}

.meSection {
  text-align: center;
  font-weight: bold;
  font-size: 33px;
  margin: 20px 30px;
  font-family: sans-serif;
}

.codepic {
  float: right;
}

/** myProject section.**/
#myProject {
  text-align: center;
  padding: 20px 20px;
  background-color: #15f4ee;
}

.myProject-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 350px;
}

/** contactMe**/
#contactMe {
  padding: 40px 0;
  text-align: center;
  background-image: url(../images/globalh.jpg);
  background-repeat: repeat-x;
}

/**footerSection**/
.connectSocial {
  padding: 25px;
  text-align: center;
}
